*{
	padding:0;
	margin:0;
}
body{
	text-align:center;
	width: 100%;
	height: 100%;
	position: relative;
	background: #00c1e3;
}

/* 字体样式 */

@font-face {
 font-family: 'digiface';
 src: url('../fonts/digiface.TTF');
}  

@font-face {
 font-family: 'HelveticaNeue';
 src: url('../fonts/HelveticaNeueLTPro-XBlkCn.otf');
}  

#loading{
	width: 100%;
	height: 100%;
	line-height: 100px;
	position:absolute;
	left:0;
	top:0;
	background: #00c1e3; 
	z-index: 109;
	/*opacity: 0;*/
}

.loadingImg{
	width: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -70px 0 0 -25%;
	line-height: 0;
}

.loadingImg img{
	opacity: 0.1;
}

.loadingImg span{
	width: 100%;
	position: absolute;
	left: -4%;
	bottom: -16%;
	text-align: center;
	font-size: 16px;
}


#dramebox{
	opacity: 0;
}

#canvas{
	margin:0 auto;
}
#start{
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 60px;
	line-height: 60px;
	background: rgba(0,0,0,0.8);
	z-index: 99;
	color: #fff;
	font-size: 18px;
	text-transform: capitalize;
	display: none;
}

.container{
	width: 100%;
	position: relative;
}

.menu{
	width: 40%;
	position: absolute;
	left: 50%;
	bottom: 10%;
	margin: 0 0 0 -20%;
}

.startP-2{
	margin: -0.2em 0 0 0;
	display: inline-block;
}

.ball1{
	width: 39%;
	position: absolute;
	left: -5em;
  	top: 3em;
}

.ball2{
	width: 42%;
	position: absolute;
	right: -5em;
  	top: -3em;
}

.rule_link,.playersRanking_link{
	width: 36%;
	position: absolute;
	right: 0.5em;
	bottom: 0.6em;
}

.playersRanking_link{
	left: 0.5em;
}


/* rule */
#rule{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	opacity: 0;
	display: none;
}

.back{
	width: 30%;
	position: absolute;
	left: 50%;
	bottom: 2.5em;
	margin: 0 0 0 -15%;
}



/* scorelist */
.scoreList{
	width: 82%;
	position: absolute;
	left: 50%;
	top:4%;
	margin: 0 0 0 -41%;
	z-index: 9;
	text-align: center;
	display: none;
}

.scoreList_con{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	overflow: hidden;
}

.scoreList ul{
	width: 86%;
	display: inline-block;
	overflow: auto;
	margin: 19% 0 0 0;
}

.scoreList li{
	width: 100%;
	display: inline-block;
	position: relative;
}

.rankli{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	line-height: 100%;
}

.rankli > div{
	float: left;
	display: inline-block;
	font-size: 18px;
	color: #fff;
}

.rankli > div.rankGrade{
	width: 20%;
	margin: 2.7% 0 0 0;
	font-family: HelveticaNeue;
}

.rankli > div.rankName{
	width: 55%;
	margin: 2.5% 0 0 0;
	font-size: 12px;
	overflow: hidden;
	height: 18px;
}

.rankli > div.rankScore{
	width: 25%;
	margin: 4% 0 0 0;
	font-size: 12px;
	font-family: HelveticaNeue;
}


.btnArea{
	width: 100%;
	position: absolute;
    left: 0;
    bottom: -18%;
}


.attentionBtn,.replayBtn{
	width: 46%;
	display: inline-block;
}


.owen{
	width: 86%;
	height: 50px;
	position: absolute;
	left: 7%;
    bottom: 5.6%;
}




/* 3秒倒计时 */
.loading_countdown{
	width: 60%;
	height: 100px;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10;
	font-size: 120px;
	color: #fff;
	margin: -100px 0 0 -30%;
	text-align: center;
	opacity: 0;
	display: none;
}


/* 最终得分 */
#finalScore{
	width: 96%;
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 10;
	margin: -300px 0 0 -48%;
	text-align: center;
	display: none;
}

#finalScore ul{
	padding: 20px 0;
	width: 60%;
	display: inline-block;
	position: absolute;
	left: 20%;
	top: 56%;
}

#finalScore li{
	width: 20%;
	float: left;
	display: inline-block;
	font-family: HelveticaNeue;
	font-size: 38px;
	color: #fff;
}

#telBtn{
	width: 44%;
	position: absolute;
	left: 50%;
	bottom: -25%;
	margin: 0 0 0 -22%;
}






/* 创建队名 */
#createTeam{
	width: 86%;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -200px 0 0 -43%;
	z-index: 9;
	text-align: center;
	display: none;
	opacity: 0;
}

.createTeam_con{
	position: absolute;
	width: 76%;
	left: 50%;
	top: 62%;
	margin: 0 0 0 -39%;
}

#createTeam input{
	width: 90%;
	height: 27px;
	line-height: 27px;
	display: inline-block;
	margin: 10px 0; 
	background: #3e003b;
	border: none; 
	font-size: 1.3em;
	text-align: center;
	color: #fff;
}

#findPartner{
	width: 56%;
	display: inline-block;
	margin: 40% 0 0 0;
}



/* 微信分享提示 */
#wechat{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.7);
	text-align: right;
	display: none;
}

#wechat img{
	width:38%;
	display: inline-block;
	margin: 3% 4% 0 0;
}



/* swiper */
.swiper-container {
    width: 100%;
    height: 100%;
    
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-button-prev,.swiper-button-next{
	background: none;
}

.swiper-button-prev{
	left: -2em;
}

.swiper-button-next{
	right: -2em;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
	opacity: 0;
}



/* readyGo */
#readyGo{
	width: 80%;
	position: absolute;
	left: 50%;
	top: 15%;
	margin: 0 0 0 -40%;
	z-index: 2;
	opacity: 0;
	display: none;
}

#startbtn{
	width: 50%;
	display: inline-block;
}



/* 横屏显示代码 */

@-webkit-keyframes rotation {
    10% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
    90% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    100% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
}
@keyframes rotation {
    10% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    50%, 60% { transform: rotate(0deg); -webkit-transform: rotate(0deg) }
    90% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
    100% { transform: rotate(90deg); -webkit-transform: rotate(90deg) }
}

#orientLayer { 
	display: none; 
}

/*@media screen and (min-aspect-ratio: 13/9) { 
    #orientLayer { 
    	display: block; 
    } 
}
*/

.mod-orient-layer { 
	display: none; 
	position: fixed; 
	height: 100%; 
	width: 100%; 
	left: 0; 
	top: 0; 
	right: 0; 
	bottom: 0; 
	background: #000; 
	z-index: 9997;
}
.mod-orient-layer__content { 
	position: absolute; 
	width: 100%; 
	top: 45%; 
	margin-top: -75px; 
	text-align: center;
}
.mod-orient-layer__icon-orient {
	background-image: url('../imgs/h.png');
	display: inline-block; 
	width: 67px; 
	height: 109px;
    transform: rotate(90deg); 
    -webkit-transform: rotate(90deg); 
    -webkit-animation: rotation infinite 1.5s ease-in-out; 
    animation: rotation infinite 1.5s ease-in-out; 
    -webkit-background-size: 67px; 
    background-size: 67px;
}
.mod-orient-layer__desc { 
	margin-top: 20px; 
	font-size: 15px; 
	color: #fff;
}





/* 6plus */

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
	.ball1{
		left: -7em;
	}

	.ball2{
		right: -6em;
	}

	.scoreList ul,.owen{
		width: 84%;
	}
	.owen{
		bottom: 2.5em;
		left: 8%;
	}

	#finalScore{
		margin: -380px 0 0 -48%;
	}

	#finalScore ul{
		top: 58.6%;
	}
}

/* 6 */
@media only screen and (min-device-width: 375px) and (max-device-width: 410px) and (orientation: portrait) {
	.ball1{
		left: -6em;
	}

	.ball2{
		right: -6em;
	}

	.scoreList ul,.owen{
		width: 84%;
	}
	.owen{
		bottom: 2em;
		left: 8%;
	}

	#finalScore{
		margin: -320px 0 0 -48%;
	}

	#finalScore ul{
		top: 57.6%;
	}
}





